/* styles.css */

/* Style général pour le corps de la page */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f8f9fa;
    padding-top: 60px; /* Décalage pour le haut fixe de la barre de navigation */
}

/* Style pour les conteneurs principaux */
.container {
    max-width: 800px; /* Largeur maximale des contenus */
    margin: auto; /* Centrer les contenus */
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Style pour les titres principaux */
h1, h2, h3, h4 {
    margin-bottom: 20px;
    font-weight: bold;
    color: #000305; /* Bleu Bootstrap */
}

h5, h6 {
    margin-bottom: 10px;
    font-weight: bold;
    color: #a9a409;
}

/* Style pour les boutons */
.btn {
    margin-top: 10px;
}

/* Style pour les formulaires */
.form-control {
    margin-bottom: 10px;
}

/* Style pour les messages d'erreur ou de confirmation */
.alert {
    margin-top: 20px;
}

/* Style pour les listes */
ul {
    padding-left: 20px;
}

/* Style pour les éléments de liste */
li {
    margin-bottom: 5px;
}

/* Style pour les boîtes de dialogue de confirmation */
.confirmation-box {
    background-color: #f0f8ff; /* Bleu clair */
    padding: 10px;
    border: 1px solid #add8e6; /* Bleu pâle */
    margin-top: 10px;
    border-radius: 4px;
}

/* Style pour les éléments individuels */
.equipe, .joueur {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

/* Style pour les champs de mise à jour */
#update-player-fields {
    margin-top: 20px;
}

/* Style pour les messages de statut */
#status-message {
    margin-top: 10px;
    font-style: italic;
}

/* Media query pour les écrans plus petits */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
}
